@import '../../style/theme.scss';

.container {
    display: flex;
    width: 100vw;
    height: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.input {
    width: 95vw;
    height: 40px;
    background-color: $greyBackground;
    border-radius: 5px;
    border: 0;
    text-align: center;
    color: $darkTextPrimary;
    font-size: $H5;
    font-weight: 100;

    &::placeholder {
        color: $greyTextColor;
        font-family: "FontAwesome", "Open Sans";
    }
}

.buttonInsideInput {
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $greyTextColor;
    font-size: $H3;

    &:hover {
        color: $darkTextPrimary;
    }
}

.clearButton {
    @extend .buttonInsideInput;
    right: 3.5vw;
}

.searchButton {
    @extend .buttonInsideInput;
    left: 3.5vw;
    top: 11px;
    width: 35px;
    height: 35px;
}