@import '../../style/_theme.scss';

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.loadingSpinner {
    width: 10vw;
}

.noResultContainer {
    @extend .container;

    color: $greyTextColor;
    @include font-size($h4-font-sizes);
    font-weight: 100;
}