@import '../../style/_theme.scss';

$loading-spinner-size: (
    null: 34px,
    small: 36px,
    medium: 40px,
    large: 44px,
    xlarge: 50px
);

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.loadingSpinner {
    @include size($loading-spinner-size);
}

.noResultContainer {
    @extend .container;

    color: $grey-text-color;
    @include font-size($h4-font-sizes);
    font-weight: 100;
}