.container, .loadingContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  overflow: hidden; }
  .container .listContainer, .loadingContainer .listContainer {
    display: flex;
    flex: 1; }

.loadingContainer {
  align-items: center;
  justify-content: center; }

.loadingSpinner {
  width: 54px;
  height: 54px; }
  @media screen and (min-width: 480px) {
    .loadingSpinner {
      width: 56px;
      height: 56px; } }
  @media screen and (min-width: 700px) {
    .loadingSpinner {
      width: 62px;
      height: 62px; } }
  @media screen and (min-width: 1024px) {
    .loadingSpinner {
      width: 68px;
      height: 68px; } }
  @media screen and (min-width: 1366px) {
    .loadingSpinner {
      width: 76px;
      height: 76px; } }
