@import '../../style/_theme.scss'; 

$loading-spinner-size: (
    null: 54px,
    small: 56px,
    medium: 62px,
    large: 68px,
    xlarge: 76px
);

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    
    .listContainer {
        display: flex;
        flex: 1;
    }
}

.loadingContainer {
    @extend .container;

    align-items: center;
    justify-content: center;
}

.loadingSpinner {
    @include size($loading-spinner-size);
}