@import '../../constants/theme.scss';

.container {
    background-color: #fff;
    display: flex;
    flex: 1;
    height: 100%;
    padding-left: 20px;
    cursor: pointer;

    &:hover {
        background-color: $itemHoverColor;
    }
}

.innerContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    border-bottom: $borderWidth solid $borderColor;
    padding-right: 10px;
}

.rowNumber {
    width: 36px;
    font-size: $H2;
    color: $greyTextColor;
    font-weight: 100;
}

.appIcon {
    margin-right: 20px;
}

.colRight {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.appName {
    color: $darkTextPrimary;
    font-size: $H3;
    font-weight: 100;
    padding-bottom: 10px;
}

.appCatName {
    color: $greyTextColor;
    font-size: $H6;
    font-weight: 100;
    padding-bottom: 10px;
}

.appRatingContainer {
    color: #DEDEDE;
}