@import '../../style/_theme.scss';

.container {
    background-color: #fff;
    display: flex;
    flex: 1;
    height: 100%;
    padding-left: 20px;
    cursor: pointer;

    &:hover {
        background-color: $itemHoverColor;
    }
}

.innerContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    border-bottom: $borderWidth solid $borderColor;
    padding-right: 10px;
}

.rowNumber {
    width: 52px;
    @include font-size($h2-font-sizes);
    color: $greyTextColor;
    font-weight: 100;
}

.appIcon {
    margin-right: 20px;
}

.colRight {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.appName {
    color: $darkTextPrimary;
    @include font-size($h3-font-sizes);
    font-weight: 100;
}

.appCatName {
    padding-top: 10px;
    color: $greyTextColor;
    @include font-size($h6-font-sizes);
    font-weight: 100;
}

.appRatingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.userRating {
    color: $orangeYellow;
    padding-right: 5px;
    letter-spacing: 2px;
}

.userRatingCount {
    color: $greyTextColor;
    @include font-size($p-font-sizes);
    font-weight: 200;
}

.loadingSpinner {
    width: 20px;
}