.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  border-bottom: 1.2px solid #E4E4E4; }
  .container .listTitle {
    color: #333;
    font-size: 1.7rem;
    line-height: 1.3;
    padding: 12px 12px 10px 12px; }
    @media screen and (min-width: 480px) {
      .container .listTitle {
        font-size: 1.8rem;
        line-height: 1.35; } }
    @media screen and (min-width: 700px) {
      .container .listTitle {
        font-size: 1.9rem;
        line-height: 1.4; } }
    @media screen and (min-width: 1024px) {
      .container .listTitle {
        font-size: 2rem;
        line-height: 1.45; } }
    @media screen and (min-width: 1366px) {
      .container .listTitle {
        font-size: 2.1rem;
        line-height: 1.5; } }
    @media screen and (min-width: 480px) {
      .container .listTitle {
        padding: 14px 14px 11px 14px; } }
    @media screen and (min-width: 700px) {
      .container .listTitle {
        padding: 16px 16px 12px 16px; } }
    @media screen and (min-width: 1024px) {
      .container .listTitle {
        padding: 18px 18px 13px 18px; } }
    @media screen and (min-width: 1366px) {
      .container .listTitle {
        padding: 20px 20px 14px 20px; } }
  .container .listContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 200px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    @media screen and (min-width: 480px) {
      .container .listContainer {
        height: 230px; } }
    @media screen and (min-width: 700px) {
      .container .listContainer {
        height: 250px; } }
    @media screen and (min-width: 1024px) {
      .container .listContainer {
        height: 270px; } }
    @media screen and (min-width: 1366px) {
      .container .listContainer {
        height: 300px; } }
  .container .spacer {
    flex: 0 0 auto;
    width: 4px; }
    @media screen and (min-width: 480px) {
      .container .spacer {
        width: 6px; } }
    @media screen and (min-width: 700px) {
      .container .spacer {
        width: 8px; } }
    @media screen and (min-width: 1024px) {
      .container .spacer {
        width: 14px; } }
    @media screen and (min-width: 1366px) {
      .container .spacer {
        width: 20px; } }
  .container .noResultContainer {
    display: flex;
    flex: 1;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center; }
    .container .noResultContainer .noResultText {
      color: #999;
      font-size: 1.5rem;
      line-height: 1.3;
      font-weight: 100;
      text-align: center; }
      @media screen and (min-width: 480px) {
        .container .noResultContainer .noResultText {
          font-size: 1.6rem;
          line-height: 1.35; } }
      @media screen and (min-width: 700px) {
        .container .noResultContainer .noResultText {
          font-size: 1.7rem;
          line-height: 1.4; } }
      @media screen and (min-width: 1024px) {
        .container .noResultContainer .noResultText {
          font-size: 1.8rem;
          line-height: 1.45; } }
      @media screen and (min-width: 1366px) {
        .container .noResultContainer .noResultText {
          font-size: 1.9rem;
          line-height: 1.5; } }

/* Classes for react-transition group css transition */
.containerTransition {
  opacity: 1; }

.containerTransition-enter {
  opacity: 0.01;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }

.containerTransition-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

.containerTransition-exit {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

.containerTransition-exit-active {
  opacity: 0.01;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }
